<div class="tab {{#if tab.active}} active{{/if}}" data-group="sheet" data-tab="worldExplorer">
    <div class="form-group">
        <label for="WorldExplorer-Enabled-{{document.id}}">{{localize "WorldExplorer.SceneSettings.Enabled"}}</label>
        <input id="WorldExplorer-Enabled-{{document.id}}" type="checkbox" name="flags.world-explorer.enabled" {{checked enabled}}/>
    </div>

    <div class="form-group">
        <label>{{localize "WorldExplorer.SceneSettings.Color"}}</label>
        <div class="form-fields">
            <input type="text" name="flags.world-explorer.color" value="{{color}}" placeholder="Default (#000000)" data-dtype="String"/>
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "WorldExplorer.SceneSettings.Image"}}</label>
        <div class="form-fields">
            <button type="button" class="file-picker" data-type="imagevideo" data-target="flags.world-explorer.image" title="Browse Files" tabindex="-1">
                <i class="fa-solid fa-file-import fa-fw"></i>
            </button>
            <input class="image" type="text" name="flags.world-explorer.image" placeholder="File Path" value="{{image}}">
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "WorldExplorer.SceneSettings.Persist_Explored_Areas"}}</label>
        <input type="checkbox" name="flags.world-explorer.persistExploredAreas" {{checked persistExploredAreas}}/>
    </div>

    <fieldset>
        <div class="form-group">
            <label>{{localize "WorldExplorer.SceneSettings.Position.Name"}}</label>
            <div class="form-fields">
                <select name="flags.world-explorer.position">
                    {{selectOptions POSITION_OPTIONS selected=position localize=true}}
                </select>
            </div>
            <p class="hint">{{localize "WorldExplorer.SceneSettings.Position.Hint"}}</p>
        </div>
        <div class="form-group">
            <label>{{localize "WorldExplorer.SceneSettings.Reveal"}}</label>
            <div class="form-fields">
                <input type="text" name="flags.world-explorer.revealRadius" value="{{revealRadius}}">
            </div>
        </div>
        <div class="form-group">
            <label>{{localize "WorldExplorer.SceneSettings.GridReveal.Name"}}</label>
            <div class="form-fields">
                <input type="text" name="flags.world-explorer.gridRevealRadius" value="{{gridRevealRadius}}">
            </div>
            <p class="hint">{{localize "WorldExplorer.SceneSettings.GridReveal.Hint"}}</p>
        </div>
        <div class="form-group">
            <label>{{localize "WorldExplorer.SceneSettings.GM_Opacity"}}</label>
            <div class="form-fields">
                <range-picker name="flags.world-explorer.opacityGM" value="{{opacityGM}}" min="0" max="1" step="0.05" />
            </div>
        </div>
        <div class="form-group">
            <label>{{localize "WorldExplorer.SceneSettings.Player_Opacity"}}</label>
            <div class="form-fields">
                <range-picker name="flags.world-explorer.opacityPlayer" value="{{opacityPlayer}}" min="0" max="1" step="0.05" />
            </div>
        </div>
    </fieldset>
</div>